<footer>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-5 col-md-6 mt-3">
        <div class="row">
          <div class="col-6">
            <img class="w-75" src="../assets/images/20-1611585957-20-1535046526-logoDurangoBlanco.png" alt="" />
          </div>
          <div class="col-6 mt-4">
            <h3 class="tit-footer">INDICADORES</h3>
            <ul class="links-footer">
              <li><a href="">Objetivos de Desarrollo Sostenible</a></li>
              <li><a href="">Ejes de Gobierno</a></li>
              <li><a href="">Dimenciones Proyecto 2040</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-4 col-lg-2 col-md-4 mt-3">
        <img class="w-100" src="../assets/images/peg2040.png" alt="" />
      </div>
      <div class="col-12 col-lg-5 col-md-12 mt-3">
        <div class="row">
          <div class="col-6 mt-3">
            <div class="col-6 links-footer">
              <h3 class="tit-footer">SECCIONES</h3>
              <ul class="links-footer">
                <li><a href="../index.php#inicio">Inicio</a></li>
                <li><a href="../index.php#acerca">Acerca de</a></li>
                <li><a href="../public/indicadores.php">Indicadores</a></li>
                <li><a href="">Compara</a></li>
              </ul>
            </div>
          </div>
          <div class="col-6 col-md-4 mt-5">
            <img class="w-100" src="../assets/images/CODEDUR.png" alt="" />
          </div>
        </div>
      </div>
      <div class="col-6 footer-icons mt-4 mb-2">
        <a class="ml-1" href=""><i class="bi bi-facebook"></i></a>
        <a class="ml-1" href=""><i class="bi bi-twitter"></i></a>
        <a class="ml-1" href=""><i class="bi bi-youtube"></i></a>
      </div>
    </div>
  </div>
  <div class="copyright-footer">
    Copyright © 2021 CODEDUR - Todos los derechos reservados.
    <a class="text-right" href="../admin/index.php"><i class="bi bi-speedometer"></i></a>
  </div>
</footer>
