<nav>
  <input id="nav-toggle" type="checkbox" />
  <div class="logo">
    <a href="../index.php"><img class="logo" src="../assets/images/logo.png" alt="logo" /></a>
  </div>
  <ul class="links">
    <li><a href="../index.php#inicio">Inicio</a></li>
    <li><a href="../public/acerca.php">Acerca</a></li>
    <li><a href="../public/indicadores.php">Indicadores</a></li>
    <li><a href="#">Compara</a></li>
    <li><a href="../index.php#contacto">Contacto</a></li>
  </ul>
  <label for="nav-toggle" class="icon-burger">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </label>
</nav>
