* {
  font-family: "Montserrat", sans-serif;
}

/* Navbar */

nav {
  position: fixed;
  z-index: 9999;
  left: 0;
  right: 0;
  top: 0;
  padding: 0 5%;
  height: 100px !important;
  transition: all 0.5s ease-in-out;
}

nav .logo {
  margin-top: 1.2em;
  padding-right: 1em;
  float: left;
  width: 40%;
  height: 40%;
  display: flex;
  align-items: center;
  font-size: 24px;
  color: #fff;
}

nav .links {
  float: right;
  padding: 0;
  margin: 0;
  width: 35%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav .links li {
  list-style: none;
}

nav .links a {
  display: block;
  padding: 1em;
  font-size: 1.1vw !important;
  color: #fff;
  text-decoration: none;
  position: relative;
}

nav .links a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #219ebc;
  z-index: 99;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

nav .links a:hover::before {
  transform: scaleX(1);
}

#nav-toggle {
  position: absolute;
  top: -100px;
}

nav .icon-burger {
  display: none;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

nav .icon-burger .line {
  width: 30px;
  height: 5px;
  background-color: #fff;
  margin: 5px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 1200px) {
  nav .links {
    margin: auto 1rem;
  }

  .t-inicio {
    font-size: 2.5em !important;
    font-weight: bolder;
  }

  .btn-inicio {
    font-size: 0.9em !important;
  }
}

@media screen and (max-width: 1100px) {
  nav .links {
    margin: auto 3rem;
  }
}

@media screen and (max-width: 960px) {
  nav .logo {
    float: none;
    width: 50%;
    justify-content: center;
  }

  nav .links {
    float: none;
    position: fixed;
    z-index: 9;
    margin: auto;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 100%;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(248, 248, 248, 0.85);
    overflow: hidden;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
  }

  nav .links a {
    font-size: 4vw !important;
    color: #000;
  }

  nav :checked ~ .links {
    bottom: 0;
  }

  nav .icon-burger {
    display: block;
  }

  nav :checked ~ .icon-burger .line:nth-child(1) {
    transform: translateY(10px) rotate(225deg);
  }

  nav :checked ~ .icon-burger .line:nth-child(3) {
    transform: translateY(-10px) rotate(-225deg);
  }

  nav :checked ~ .icon-burger .line:nth-child(2) {
    opacity: 0;
  }

  .inicio-content {
    top: 20% !important;
  }

  .sec-1 {
    width: 100%;
    height: 50vh !important;
    margin: auto;
    margin-left: -2em !important;
    overflow-x: hidden !important;
    padding: 0 !important;
    justify-content: space-around;
    overflow: hidden !important;
  }

  .t-acerca {
    font-size: 4vw !important;
    font-weight: bolder;
    color: #023047;
  }

  .txt-acerca {
    font-size: 2vw !important;
    line-height: 4vw !important;
  }
}

@media screen and (max-width: 750px) {
  nav .logo {
    margin-top: 1.2em;
    width: 55%;
  }
}

@media screen and (max-width: 620px) {
  nav .logo {
    margin-top: 1.3em;
    margin-left: -1rem;
    width: 65%;
  }

  .t-inicio {
    font-size: 2.1em !important;
    font-weight: bolder;
  }

  .btn-inicio {
    padding: 0.7em 1.5em !important;
  }
}

@media screen and (max-width: 505px) {
  nav .logo {
    margin-top: 1.3em;
    margin-left: -1rem;
    width: 70%;
  }

  .t-inicio {
    font-size: 1.6em !important;
    font-weight: bolder;
  }

  .btn-inicio {
    padding: 0.5em 1em !important;
  }

  .t-acerca {
    font-size: 5vw !important;
    font-weight: bolder;
    color: #023047;
  }

  .txt-acerca {
    font-size: 3vw !important;
    line-height: 2em !important;
  }
}

@media screen and (max-width: 400px) {
  nav .logo {
    margin-top: 1.2em;
    margin-left: -0.8rem;
    width: 75%;
    position: relative;
  }

  .t-inicio {
    padding: auto 1em !important;
    font-size: 6vw !important;
  }

  .btn-inicio {
    font-size: 0.8em;
    padding: 0.3em 0.8em !important;
  }

  .txt-acerca {
    line-height: 2em !important;
  }
}

.scrolling-active {
  color: #000;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
  box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.5);
  height: 80px !important;
}

.scrolling-active .links li a {
  color: #000;
}

.scrolling-active nav .links li a::before {
  background-color: #000 !important;
}

.scrolling-active #nav-cta {
  background-color: #313131;
  color: #fff;
}

.scrolling-active #nav-cta:hover {
  background-color: #151515;
}

.scrolling-active .nav-link::after {
  background-color: #313131;
}

.scrolling-active .icon-burger .line {
  background-color: #000;
}

/* Inicio Section */

.inicio {
  width: 100%;
  height: 100vh;
  background: url("../images/bg.jpg") center no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.inicio-content {
  width: 100%;
  top: 30%;
  left: 10% !important;
  position: absolute;
  color: #fff;
  margin: auto;
}

.t-inicio {
  font-size: 3vw;
  font-weight: bolder;
}

.btn-inicio {
  border: 0.2vw solid #fff;
  border-radius: 2vw;
  color: white;
  padding: 0.5vw 1.5vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.3vw;
  font-weight: bolder;
}

.btn-inicio:hover {
  color: #fb8500;
  text-decoration: none;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

.img-container {
  display: flex;
  position: absolute;
  align-items: center;
  margin: 40% auto;
  justify-content: space-around;
}

/* Acerca de #1 */

.acerca {
  width: 100%;
  height: auto;
  padding: 0 4em;
  position: relative;
}

.btn-acerca {
  color: #fff;
  font-weight: normal;
  border-color: #023047;
  background-color: #023047;
}

.btn-acerca:hover {
  color: #023047;
  text-decoration: none;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

.t-acerca {
  font-size: 2.5em;
  font-weight: bolder;
  color: #023047;
}

.txt-acerca {
  font-size: 1.4vw;
  line-height: 3vw;
}

.img-acerca {
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.356);
}

.rec-1 {
  z-index: -1;
  width: 20vw;
  height: 110%;
  margin: -10vw -20vw;
  position: absolute;
  background: #219ebc;
  transform: rotate(10deg);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.555);
}

/* Indicadores section */

.indicadores {
  width: 100%;
  height: auto;
  padding-top: 2em;
  padding-bottom: 4em;
  background-color: #f2f2f2;
}

.btn-indicador {
  color: #fff;
  background-color: #023047;
  padding: 0.6em 1em;
  transition: 0.3s;
  border-radius: 40px;
}

.btn-indicador:hover {
  text-decoration: none;
  color: #023047;
  background-color: #fff;
  border: 2px solid #023047;
  transition: 0.3s;
}

.redirect-mas {
  top: 1.5rem;
  margin: auto;
}

.redirect-mas small a {
  color: #626262;
}

/* Sitios relacionados Section */

.relacionados {
  width: 100%;
  height: auto;
  padding: 2em;
  background-color: #8ecae6;
}

/* Contacto Section */

.contacto {
  width: 100%;
  height: auto;
  padding: 3em 3em 2em;

  background-color: #fff;
}

.contact-logo {
  text-align: center;
  font-size: 3em;
}

.contact-logo span {
  color: #023047;
}

.contact-wrapper {
  box-shadow: 0 -5px 1rem rgba(0, 0, 0, 0.5);
}

.contact-wrapper > * {
  padding: 1em;
}

.contact-form {
  background: #023047;
  color: #fff;
}

.contact-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact-form form label {
  display: block;
}

.contact-form form p {
  margin: 0;
  padding: 1em;
}

.contact-form form .block {
  grid-column: 1 / 3;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  outline: 0;
  color: #fff;
  border-bottom: 1px solid #fff;
}

.contact-form form button {
  background: #fb8500;
  border: 0;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
  border-radius: 40px;
  padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus {
  background: #ffb703;
  color: #fff;
  transition: background-color 1s ease-out;
  outline: 0;
}

/* CONTACT INFO */

.contact-info {
  background: #219ebc;
  color: #fff;
}

.contact-info h4,
.contact-info ul,
.contact-info p {
  text-align: center;
  margin: 0 0 1rem 0;
}

.contact-info ul {
  list-style: none;
}

/* LARGE SIZE */

@media (min-width: 700px) {
  .contact-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .contact-wrapper > * {
    padding: 2em;
  }
  .contact-info h4,
  .contact-info ul,
  .contact-info p {
    text-align: left;
  }
}

/* Footer */

footer {
  width: 100%;
  height: autp;
  background-color: #023047;
  box-shadow: 0 -5px 1rem rgba(0, 0, 0, 0.5);
}

.tit-footer {
  color: #bbbbbb;
  font-size: 1.2em;
  font-weight: bolder;
  letter-spacing: 1px;
}

.links-footer {
  margin: 0;
  padding: 0;
}

.links-footer li {
  list-style: none;
  color: #fff;
}

.links-footer li a {
  font-size: 0.8em;
  color: #fff;
  text-decoration: none !important;
}

.links-footer li a:hover {
  font-size: 0.8em;
  color: #f2f2f2;
  text-decoration: underline !important;
}

.footer-icons a i {
  color: #fff;
  font-size: 2em;
}

.footer-icons a i:hover {
  color: #bbbbbb;
}

.copyright-footer {
  width: 100%;
  height: auto;
  padding: 0.8em;
  bottom: 0;
  position: relative;
  color: #fff;
  text-align: center;
  background-color: #219ebc;
}

/* Boton ir Arriba */

.ir-arriba {
  display: none;
  padding: auto;
  border-radius: 100%;
  padding: 0.3em;
  width: 60px;
  height: 60px;
  background: #023047;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  left: 20px;
  box-shadow: 0 3px 1rem rgba(0, 0, 0, 1);
}
